<nav class="footer">
    <div class="container">
        <div class='row'>
            <div class="col-lg-12">
                &copy; 2016 Gishtech, All rights reserved | This <a href="https://github.com/kgish/gishtech.com">ambitious web application</a> was made possible thanks to the amazing <a href="http://emberjs.com/">Ember.js</a> framework | Tel. +31 65 75 52 871 | {{#link-to 'terms-and-conditions'}}Terms and conditions{{/link-to}} | {{#link-to 'logo'}}Logo{{/link-to}} | <a href="http://www.linkedin.com/in/kiffin" target="_blank">{{fa-icon 'linkedin'}}</a> | <a href="http://twitter.com/kiffin" target="_blank">{{fa-icon 'twitter'}}</a> | <a href="http://github.com/kgish" target="_blank">{{fa-icon 'github'}}</a>
            </div>
        </div>
    </div>
</nav>
