<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="assets/images/gishtech.png" height="30" style="margin-top:-5px"/></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{#active-link tagName='li'}}{{#link-to 'portfolios'}}Portfolio{{/link-to}}{{/active-link}}
                {{#active-link tagName='li'}}{{#link-to 'skills'}}Skills{{/link-to}}{{/active-link}}
                {{#active-link tagName='li'}}{{#link-to 'about'}}About{{/link-to}}{{/active-link}}
                {{#active-link tagName='li'}}{{#link-to 'contact'}}Contact{{/link-to}}{{/active-link}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {{#active-link tagName='li'}}{{#link-to 'publications'}}Publications{{/link-to}}{{/active-link}}
                        {{#active-link tagName='li'}}{{#link-to 'repository'}}Repository{{/link-to}}{{/active-link}}
                        {{#active-link tagName='li'}}{{#link-to 'links'}}Links{{/link-to}}{{/active-link}}
                        {{#active-link tagName='li'}}{{#link-to 'credits'}}Credits{{/link-to}}{{/active-link}}
                        {{#active-link tagName='li'}}{{#link-to 'logo'}}Logo{{/link-to}}{{/active-link}}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>