<div class="text-center crafted-ember">
    <p>This website was crafted with the help of <a href='http://emberjs.com' title='A framework for creating ambitious web applications'>ember</a>.</p>
</div>
