<div class="text-center">
    <h3>I <span class="heart">{{fa-icon 'heart'}}</span> {{#link-to 'credits' title='This ambitious web application was made possible thanks to the amazing Ember.js framework'}}Ember.js{{/link-to}} !</h3>
</div>
