.jumbotron {
    margin-bottom: 0;
    color: white;
    border: firebrick solid 5px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron h1 {
    text-shadow: 4px 4px black;
    font-weight: bold
}

.jumbotron p {
    text-shadow: 2px 2px black;
    font-weight: bold
}

#jumbotron-index {
    background-image: url(/assets/images/banners/index.png);
}

#jumbotron-skills {
    background-image: url(/assets/images/banners/skills.png);
}

#jumbotron-about {
    background-image: url(/assets/images/banners/about.png);
}

#jumbotron-contact {
    background-image: url(/assets/images/banners/contact.png);
}

#jumbotron-credits {
    background-image: url(/assets/images/banners/credits.png);
}

#jumbotron-logo {
    background-image: url(/assets/images/banners/logo.png);
}

#jumbotron-terms-and-conditions {
    background-image: url(/assets/images/banners/terms-and-conditions.png);
}

#jumbotron-repository {
    background-image: url(/assets/images/banners/repository.png);
}

#jumbotron-links {
    background-image: url(/assets/images/banners/links.png);
}

#jumbotron-page-not-found {
    background-image: url(/assets/images/banners/page-not-found.png);
}

.marketing h4 {
    font-weight: bold;
}

.intro-item {
    margin-bottom: 20px;
}

.skills p, .credits p {
    font-size: 16px;
}

.skills-list .liquid-container {
   display: inline-block;
}

.skills-scores a {
    font-weight: bold;
    margin: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.skill-item a {
    color: white;
    font-weight: bold;
    margin: 3px 5px 10px;
}

.credit-item {
    margin-bottom: 10px;
}

.score {
    font-size: 8px;
}

.heart {
    color: firebrick;
}

.syntax-bash {
    font-family: monospace;
    white-space: pre;
    padding: 5px;
    background-color: lavender;
    border: solid 1px darkgray;
    color:  #052C36;
}

.contact-form form {
    border: 2px solid firebrick;
    padding: 10px;
    background-color: lavender;
}

@media only screen and (max-width: 768px) {

    .header > nav > ul.nav.nav-pills > li > a {
        font-size: 12px;
    }

    .hide-mobile {
        display: none;
    }

}
