html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.container {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: whitesmoke;
    .navbar {
        margin-bottom: 10px;
    }
}

.jumbotron {
    margin-bottom: 5px;
    color: white;
    border: $color-tertiary solid 5px;
    background: no-repeat 0 25%;
    background-size: cover;

    h1 {
        text-shadow: 4px 4px black;
        font-weight: bold
    }

    p {
        text-shadow: 2px 2px black;
        font-weight: bold
    }
}

@each $name in
    about,
    contact,
    credits,
    index,
    links,
    logo,
    page-not-found,
    portfolios,
    publications,
    repository,
    skills,
    terms-and-conditions
{
    @include background-image(#{$name});
}

.intro-item {
    margin-bottom: 20px;
}

.skills p, .credits p {
    //font-size: 16px;
}

.skills-list .liquid-container {
   display: inline-block;
}

.skills-scores a {
    font-weight: bold;
    margin: 10px 3px 10px;
}

.skill-item a {
    color: white;
    font-weight: bold;
    margin: 3px 5px 10px;
}

.credit-item {
    margin-bottom: 10px;
}

.score {
    //font-size: 8px;
}

.heart {
    color: $color-tertiary;
}

.crafted-ember {
    margin-top: 5px;
}

.syntax-bash {
    font-family: monospace;
    white-space: pre;
    padding: 5px;
    background-color: #C4E4E8;
    border: solid 1px darkgray;
    color: #052C36;
}

.portfolio-item {
    margin-bottom: 40px;

    img {
        border-radius: 20px;
        border: 2px darkgray solid;
    }

    .portfolio-image {
        margin-top: 15px;
    }

    .portfolio-skill {
        margin-top: 5px;
        //font-size: 12px;
        display: inline-block;
    }
}

.marketing {
    margin-top: 0;
}

.has-success .form-control-success {
    border: 2px solid green;
}

.textalign-center {
    text-align: center;
}

div.spotlight {
    padding-top:10px;
    text-align: center;
    img {
        display:inline;
        max-width:500px;
        border: 1px solid lightgray;
    }
    i.fa {
        color: $color-tertiary;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.footer {
    font-size: smaller;
}

ul.intro-listing {
    margin-left: 0;
    li.intro-item {
        p {
            margin-left: 25px;
        }
    }
}
