@import "globals";

.jumbotron {
    margin-bottom: 0;
    color: white;
    border: $color-tertiary solid 5px;
    background: no-repeat 0 25%;
    background-size: cover;

    h1 {
        text-shadow: 4px 4px black;
        font-weight: bold
    }

    p {
        text-shadow: 2px 2px black;
        font-weight: bold
    }
}

@each $name in
    about,
    contact,
    credits,
    index,
    links,
    logo,
    page-not-found,
    portfolios,
    repository,
    skills,
    terms-and-conditions
{
    @include background-image(#{$name});
}

.intro-item {
    margin-bottom: 20px;
}

.skills p, .credits p {
    font-size: 16px;
}

.skills-list .liquid-container {
   display: inline-block;
}

.skills-scores a {
    font-weight: bold;
    margin: 10px 3px 10px;
}

.skill-item a {
    color: white;
    font-weight: bold;
    margin: 3px 5px 10px;
}

.credit-item {
    margin-bottom: 10px;
}

.score {
    font-size: 8px;
}

.heart {
    color: $color-tertiary;
}

.syntax-bash {
    font-family: monospace;
    white-space: pre;
    padding: 5px;
    background-color: #C4E4E8;
    border: solid 1px darkgray;
    color: #052C36;
}

@media only screen and (max-width: 768px) {

    .header > nav > ul.nav.nav-pills > li > a {
        font-size: 12px;
    }

    .hide-mobile {
        display: none;
    }

}
