@media (max-width: 575px) {
    body {
        padding: 0;
    }
    .col-lg-12 {
        margin: 0;
        padding: 0;
    }
    .row-marketing {
        margin: 0;
        padding: 0;
    }

    .hide-mobile {
        display: none;
    }

    .container {
        min-width: 100%;
    }
    ul {
        padding-left: 20px;
    }
    ul.intro-listing {
        li.intro-item {
            p {
                margin-left: 0;
            }
        }
    }
    .footer {
        font-size: small;
    }
    .syntax-bash {
        font-size: small;
    }
}

@media (max-width: 768px) {

    body {
        padding: 0;
    }

    .container {
        padding: 5px;
    }

    .row.marketing {
        padding: 0;
    }

    .col-lg-12 {
        padding: 10px;
    }

    .header > nav > ul.nav.nav-pills > li > a {
        //font-size: 12px;
    }

    .row-marketing {
        margin: 2px;
    }

    .hide-mobile {
        display: none;
    }

    .container {
        max-width: 80%;
    }
}

@media (min-width: 768px) {

}

.img-responsive {
    width:100%;
}
