@media (max-width: 768px) {

    body {
        padding: 0;
    }

    .container {
        padding: 5px;
    }

    .row.marketing {
        padding: 0;
    }

    .col-lg-12 {
        padding: 10px;
    }

    .header > nav > ul.nav.nav-pills > li > a {
        //font-size: 12px;
    }

    .row-marketing {
        margin: 2px;
    }

    .hide-mobile {
        display: none;
    }

    .container {
        max-width: 80%;
    }
}

@media (min-width: 768px) {

}

.img-responsive {
    width:100%;
}
