<nav class="footer">
  <div class="container">
    <div class='row'>
        <div class="col-lg-6 text-left">
            &copy; 2016 Gishtech. All rights reserved.
        </div>
        <div class="col-lg-6 text-right">
            {{#link-to 'terms-and-conditions'}}Terms and conditions{{/link-to}}
        </div>
    </div>
  </div>
</nav>
