<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-left">
            {{#active-link tagName='li' role="presentation"}}{{#link-to 'index'}}{{fa-icon 'home'}}&nbsp; Home{{/link-to}}{{/active-link}}
        </ul>
        <ul class="nav nav-pills pull-right">
            {{#active-link tagName='li' role="presentation"}}{{#link-to 'skills'}}Skills{{/link-to}}{{/active-link}}
            {{#active-link tagName='li' role="presentation"}}{{#link-to 'about'}}About{{/link-to}}{{/active-link}}
            {{#active-link tagName='li' role="presentation"}}{{#link-to 'contact'}}Contact{{/link-to}}{{/active-link}}
        </ul>
    </nav>
</div>

<div id="jumbotron-{{currentRouteName}}" class="jumbotron">
    <h1>Gishtech</h1>
    <p>Advanced software development<br/>for the Web</p>
</div>