<div class="row marketing">
    <div class="col-lg-12">
        <h4>{{fa-icon 'user'}}&nbsp; About</h4>
        <p>Please allow me to introduce myself.</p>
        <p class="text-justify">
            <em>
                <p class="about-item">
                <i class="fa fa-quote-left fa-3x fa-pull-left"></i>
                Hi there, my name is Kiffin. I started my adventure in the wonderful world of software
                development back in the days when machine language and assembly were cool. Data was
                stored on 5.25-inch diskettes where a whopping 160KB was more than you'd ever need.
                </p>
                <p class="about-item">
                When the C programming language first came out, I was sold in a second and immediately
                jumped on the bandwagon. My ever so wise colleagues shook their heads, viewing me as a
                subversive agitator. I was warned that assembly was the only language for the future and
                that I would never amount to anything.
                </p>
                <p class="about-item">
                Nevertheless I chose to continue on that path of exploration, and after 30+ years of
                experience in a broad range of programming languages and technologies, I feel that I have
                acquired a sound basis of knowledge and expertise to help people.
                </p>
                <p class="about-item">
                Being young at heart, willing and enthusiastic, I have a drive to work with others in a
                close-knit, hard-working team environment. I enjoy complex challenges where a proper
                balance between the technical and commercial dimensions makes or breaks a successful
                product roll out.
                </p>
                <p class="about-item">
                As an experienced software developer who can design, write and test both front- and backend
                web-based applications and platforms, I also enjoy coaching and motivating teams to build
                stuff they can be proud of.
                </p>
                <p class="about-item">
                Finally, I believe that working hard only reaps rewards when balanced with a healthy
                lifestyle. Besides regular visits to the sport center, I am also a fanatic golfer who is
                always trying to improve myself, in more ways than one...
                <i class="fa fa-quote-right fa-3x fa-pull-right"></i>
                </p>
            </em>
        </p>
    </div>
</div>
