<div class="container">
    {{header-nav}}
    {{header-banner
        title='Gishtech'
        subtitle='Advanced Software Development<br/>for the Web'
        routename=currentRouteName
    }}
    {{liquid-outlet}}
    {{footer-nav}}
</div>
