<div class="row marketing">
    <div class="col-lg-12">
        <h4>Building slick web-based applications is what it's all about.</h4>
        <div>
            As an experienced full stack developer, I specialize in advanced software development for
            the web where my tools of choice include
            <a href="https://angular.io" target="_blank">Angular</a>,
            <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> and
            <a href="https://rubyonrails.org" target="_blank">Ruby on Rails</a>.
            With many years behind me, I have built lots of cool stuff using modern tools and frameworks.
        </div>
        <div class="spotlight">
            <a href="/assets/documents/Assembla-to-Jira-Migration.pdf" title="Advanced migration tool for converting data from Assembla to Jira" target="_blank">
                <img src="assets/images/assembla-to-jira-migration.png" class="img-responsive"/>
            </a>
            <br /><span style="font-size:smaller">Assembla to Jira Migration Tool</span>
        </div>
    </div>
</div>

<div class="row marketing">
    <div class="col-lg-12">
        {{intro-listing intros=model}}
    </div>
</div>