<div class="row marketing">
    <div class="col-lg-12">
        <h4>Building slick web-based applications is what it's all about.</h4>
        <div>
            As a full stack developer with management experience, I specialize in advanced software development for the web. While my tools of choice are <a href="https://emberjs.com" target="_blank">Ember.js</a> and <a href="http://rubyonrails.org" target="_blank">Ruby on Rails</a>, I've lots of experience with other modern frameworks. In the spotlight:
        </div>
        <div class="textalign-center">
            <span class="spotlight">{{fa-icon 'star'}}</span><a href="https://github.com/kgish/assembla-to-jira" title="Advanced migration tool for converting data from Assembla to Jira" target="_blank">Assembla-to-Jira Migration Tool</a><span class="spotlight">{{fa-icon 'star'}}</span>
        </div>
    </div>
</div>

<div class="row marketing">
    <div class="col-lg-12">
        <ul class="fa-ul">
            {{intro-listing intros=model}}
        </ul>
    </div>
</div>