<div class="row marketing">
    <div class="col-lg-12">
        <h4>{{fa-icon 'github'}}&nbsp; Repository</h4>
        <p>
            For those of you interested in building a similar website using Ember, and are looking for some more ideas on
            how you might achieve this, I've made the complete code available on my github.
        </p>
        <blockquote>
            <p><a href="https://github.com/kgish/gishtech.com">Gishtech website</a></p>
            <p>New-and-improved gishtech website built with emberjs and other fun stuff.</p>
        </blockquote>
    </div>
    <div class="col-lg-12">
        <p>
            Or just clone it yourself and play around with it by running the following commands:
        </p>
        <blockquote>
            <code>git clone https://github.com/kgish/gishtech.com.git<br/>cd gishtech.com<br/>npm install<br />ember server</code>
        </blockquote>
    </div>

</div>