<div class="row marketing">
    <div class="col-lg-12">
        <h4>Terms and conditions</h4>
        <p>
            Also known in Dutch as <em>ALGEMENE VOORWAARDEN</em>, here are the <a href="/assets/documents/gishtech-terms-and-conditions.pdf" target="_blank">Terms and Conditions</a> for Gishtech.
        </p>
    </div>
</div>
